body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure it takes full width of the viewport */
    max-width: 100vw; /* Prevent overflow beyond the viewport */
    box-sizing: border-box; /* Include padding and border in width calculations */
}

.image-container {
    height: 500px;
    width: 100%; /* Ensure the image container takes full width */
    overflow: hidden; /* Hide overflow for the image */
    position: relative; /* Positioning context for child elements */
}

.airplaneImagePOV {
    height: 100%; /* Make the image fill the container height */
    width: 1500px; /* Maintain aspect ratio */
    max-width: none; /* Prevent max-width from restricting the image */
    position: absolute; /* Position absolutely to fill the container */
    left: 50%; /* Center the image */
    transform: translateX(-50%); /* Center the image */

}

.exploreBtn {
    margin-top: -110px;
    margin-bottom: 40px;
    padding: 10px 20px;
    background-color: aliceblue;
    color: rgb(20, 52, 41);
    border: 1px solid #1f9aab;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
    transition: 0.3s all; /* Use seconds for a smoother transition */
}

.exploreBtn:hover {
    background-color: #223234;
}

.section-1 {
    background-color: #223234;
    padding: 100px;
    color: aliceblue;
    width: 100%; /* Make sure it takes full width */
    box-sizing: border-box; /* Include padding in width calculations */
}