.navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 210vh;
    z-index: 1000; 
    background-color: rgb(29, 29, 29);
    color: white;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.logout-button {
    background-color: #f44336; /* Red color for logout */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    margin-left: auto; /* Push it to the far right */
}

.logout-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.logout-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
