.oneway-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    position: relative; /* Ensure the back button aligns within this container */
  }
  
  .oneway-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .oneway-flight-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
  }
  
  .oneway-flight-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .oneway-flight-card.selected {
    background-color: #4CAF50; /* Green background for selected flight */
    color: #fff;
  }
  
  .oneway-flight-card-header {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .oneway-flight-card-details {
    margin-bottom: 15px;
  }
  
  .oneway-select-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .oneway-select-button:hover {
    background-color: #0056b3; /* Change color when hovered */
  }
  
  .oneway-select-button.selected {
    background-color: #28a745; /* Change button color when selected */
  }
  
  .oneway-select-button:focus {
    outline: none;
  }
  
  .oneway-button-container {
    margin-top: 20px; /* Adjust this value to raise the button */
    margin-bottom: 20px;
  }
  
  .oneway-submit-booking-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 40px; /* Reduced padding for smaller button */
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .oneway-submit-booking-button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .oneway-back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ff5733;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .oneway-back-button:hover {
    background-color: #ff2a00;
  }
  