.App {
    box-sizing: border-box;
    height: 100vw;
    width: 100%;
    background-color: #343131 !important;
}

html, body {
    height: 100%; /* Full height for the document */
    margin: 0; /* Remove default margin */
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(67, 67, 67);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e
}