.admin-manage-bookings-container {
    padding: 20px;
  }
  
  .bookings-list {
    display: flex;
    flex-direction: column;
    color: #000;
  }
  
  .booking-card {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .booking-details {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping if necessary */
    align-items: center; /* Center items vertically */
  }
  
  .booking-item {
    display: flex;
    align-items: center; /* Center items vertically */
    margin-right: 20px; /* Space between items */
  }
  
  .label {
    font-weight: bold; /* Make labels bold */
    margin-right: 5px; /* Space between label and value */
  }
  
  .delete-button {
    margin-left: auto; /* Push the delete button to the far right */
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
  }